*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 500px;
}

body {
  background-color: #939393;
}

.social {
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: #808080;
  margin: 0;
  width: 500px;
}

#top-pic {
  width: 420px;
  height: 130px;
  object-fit: cover;
  object-position: 100% 30%;
  /* margin-right: 90px; */
  /* margin-top: 5px; */

  position: absolute;
}

#grid {
  width: 420px;
  height: 130px;
  opacity: 0.2;
}

.hero {
  margin-top: 5px;
  margin-bottom: 30x;
  border: 3px solid white;
  width: 420px;
  height: 130px;
  margin-left: 75px;
}

#peralta {
  position: absolute;
  top: 90px;
  left: 100px;
  width: 130px;
  height: 70px;
}

#sub {
  color: white;
  padding: 5px 50px;
  font-size: 8px;
  font-family: arial, sans-;
  text-decoration: none;
}

#fab {
  background-color: rgb(71, 89, 147);
  border-bottom: 1px solid rgb(128, 126, 124);
  padding: 5px 5px 5px 5px;
  margin: 0;
  letter-spacing: 5px;
  text-shadow: 10px 10px 10px grey;
}

#fas {
  background-color: rgb(196, 145, 69);
  border-bottom: 2px solid rgb(128, 126, 124);
  padding: 5px;
  margin: 0;
  text-shadow: 10px 10px 10px grey;
}

#tweet {
  background-color: rgb(112, 141, 217);
  border-bottom: 2px solid rgb(128, 126, 124);
  padding: 5px;
  margin: 0;
  text-shadow: 10px 10px 10px grey;
}

#you {
  background-color: rgb(165, 65, 52);
  border-bottom: 2px solid rgb(128, 126, 124);
  padding: 5px;
  margin: 0;
  text-shadow: 10px grey;
}

#nav {
  font-size: 8px;
  font-family: arial, sans-;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  color: white;
  justify-content: center;
  border-bottom: 2px solid rgb(128, 126, 124);
  margin-top: 5px;
  margin-left: 75px;
  background-color: rgb(165, 65, 52);
  padding: 5px;
}

#news {
  color: white;
  text-decoration: none;
  background-color: rgb(165, 65, 52);
}

.text {
  column-count: 3;
  column-gap: 10px;
  background: white;
  margin-top: 25px;
  width: 402px;
  border-bottom: 3px solid rgb(128, 126, 124);
  padding: 8px 10px;
  margin-left: 75px;
}

h2 {
  font-size: 10px;
  text-justify: center;
  font-family: arial;
}

h4 {
  font-size: 8px;
  color: lightgray;
  text-justify: center;
}

p {
  font-size: 8px;
  /* text-align: c; */
  font-family: arial;
}

.read {
  text-decoration: none;
  text-justify: center;
  font-size: 8px;
  font-family: arial;
  color: rgb(165, 65, 52);
  padding-left: 30px;
}
